<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <title>Pagina principal Socios</title>
</head>
<body>
    <h1>Gestion Biblioteca</h1>
    <!-- <p th:text="${mensaje}"></p> -->
    <a class="boton-agregar" th:href="@{/agregar}">Agregar Socio</a>
    <!-- <a href="@{/actualizar}">Actualizar Socio</a> -->
    <div th:if="${Socios !=null and !Socios.empty}">
        <div class="contenedor-tabla-socios">
            <div class="encabesado-tabla-socios">
                <h3>Nombre</h3>
                <h3>CURP</h3>
                <h3>Editar</h3>
                <h3>Eliminar</h3>
            </div>
            <div class="cuerpo-tabla-socios"th:each="socio : ${Socios}">
                <p th:text="${socio.nombre}"></p>
                <p  th:text="${socio.curp}"></p>
                <div><a th:href="@{/editar/}  + ${socio.curp}" class="boton-editar">Editar</a></div>
                <div><a th:href="@{/eliminar/}+ ${socio.curp}" class="boton-eliminar">Eliminar</a></div>
                
            </div>
        </div>
        
        
    </div>
    <div  th:if="${Socios ==null or Socios.empty}">
        <p>No hay persona en la pagina</p>
    </div>
    
    
</body>
</html>