<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/agregarSocio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <title>Agregar Socio</title>
</head>
<body>
    

    <section class="contenedor-agregar-socio">
          <form class="formulario-agregar" th:action="@{/guardar}" method="post" th:object="${socio}">
                <img class="logo-form" src="/img/biblioteca.png" alt="">
                <h1>Agregar Socio</h1>
                <div>
                   <label for="nombre">Nombre Completo</label>
                   <input name="nombre" type="text" th:field="*{nombre}"/>
               </div>
               <div>
                   <label for="curp">CURP</label>
                   <input name="curp" type="text" th:fiel="*{curp}">
               </div>
               <div>
                   <label for="fecha_nacimiento">Fecha de nacimiento</label>
                   <input type="date" th:field="*{fecha_nacimiento}">
               </div>
               <div>
                   <label for="correo">Correo</label>
                   <input type="text" th:field="*{correo}">
               </div>
               <div>
                   <label for="telefono">Telefono</label>
                   <input type="number" th:field="*{telefono}">
               </div>
               <div>
                   <label for="direccion">Dirección</label>
                   <input type="text" th:field="*{direccion}">
               </div>
               <input type="submit" value="Guardar" class="boton-agregar">
        </form>


    </section>

</body>
</html>